<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-4.3.xsd">


    <bean id="LoginAction" class="action.LoginAction">
    </bean>
    <bean id="ExamInquireAction" class="action.ExamInquireAction">
    </bean>

    <bean id="examInquireService" class="service.impl.ExamInquireServiceImpl">
    </bean>
    <bean id="userManagerService" class="service.impl.UserManagerServiceImpl">
    </bean>

    <context:component-scan base-package="service,dao">
    </context:component-scan>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:8889/homework2?autoReconnect=true"/>
        <property name="username" value="user"/>
        <property name="password" value="123321"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean
            class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <context:component-scan base-package="service,dao">
    </context:component-scan>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--&lt;!&ndash; 声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager &ndash;&gt;-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="*User" propagation="REQUIRED" />-->
    <!--<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--&lt;!&ndash; 定义切面，在edu.nju.onlinestock.service包及子包中所有以Service结尾的方法中,执行有关的hibernate session的事务操作 &ndash;&gt;-->
    <!--<aop:config>-->
    <!--&lt;!&ndash; 只对业务逻辑层实施事务 &ndash;&gt;-->
    <!--<aop:pointcut id="serviceOperation"-->
    <!--expression="execution( * service..*Service.*(..))" />-->
    <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />-->
    <!--</aop:config>-->

</beans>